name: Trigger auto deployment for ci-stockfish-api

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/ci-stockfish-api-AutoDeployTrigger-59a519ca-2f67-4925-b3e7-0d2f39fa5c90.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.CISTOCKFISHAPI_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.CISTOCKFISHAPI_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.CISTOCKFISHAPI_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: ca257aaf4ff1acr.azurecr.io
          registryUsername: ${{ secrets.CISTOCKFISHAPI_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.CISTOCKFISHAPI_REGISTRY_PASSWORD }}
          containerAppName: ci-stockfish-api
          resourceGroup: ci-stockfish-rg
          imageToBuild: ca257aaf4ff1acr.azurecr.io/ci-stockfish-api:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


